<mat-card>
  <mat-card-header>
    <mat-card-title>{{heroe.superhero}} </mat-card-title>
    <mat-card-subtitle>{{heroe.alter_ego}} </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="heroe | imagen" />

  <mat-card-content>
    <h3>{{heroe.publisher}}</h3>
    <p>
      <strong>Primera aparición </strong> {{heroe.first_appearance}}
      <br>
      <mat-chip-list>
        <mat-chip *ngFor="let item of heroe.characters.split(',') | slice:0:3">
          {{item}}
        </mat-chip>
      </mat-chip-list>
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="warn" [routerLink]="['/heroes',heroe.id]">
      <mat-icon>more_horiz</mat-icon>
      Leer mas...
    </button>
    <button mat-button color="info" [routerLink]="['/heroes/editar',heroe.id]">
      <mat-icon>edit</mat-icon>
      Editar
    </button>
  </mat-card-actions>
</mat-card>